@using Casino.Library.Models;
@Model Casino.Client.Models.BlackJackViewModel;
@{
    <p>Bet Your Chips!</p>

    <p>@Html.RadioButton( "type", "white") White Chips</p>
    <p>@Html.RadioButton( "type", "black") Black Chips</p>
    <p>@Html.RadioButton( "type", "green") Green Chips</p>
    
    foreach(var item in ViewData["userChips"] as List<Chips>)
    {
    <p>@item.Type @item.Amount</p>
    }
    

    <input type="text" name="bet"/>
    <button type="submit" name="submitButton" value="bet">Place Bet</button>
}